#campanas div{
  text-transform: uppercase;
  font-family: "Verdana";
  font-size:9pt;
  color:#D76A52;
}

#veleta p~p{
  font-family: "Coldbringer";
  color:#891D1D;
  font-size:10pt;
}

@font-face{
  font-family: "Coldbringer";
  src:url("../Coldbringer.ttf");
}
@media(min-width:500px){
  #campanas div{
    font-size:10pt;
    color:grey;
  }

  #veleta p~p{
    font-size:11pt;
    color:pink;
  }
}


@media(min-width:1000px){
  #campanas div{
    font-size:11pt;
    color:coral;
  }
  #veleta p~p{
    font-size:12pt;
    color:#D85E20;
  }
}
