body{
  background-color: white;
  font-family: calibri;
  color:red;
  background-image: url("Imagenes/fondo0400.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 6pt;
  margin-left: 0.9%;
}
#Menu{
  background-color: #E14949;
  padding:30px;
  border-radius: 5px;
  margin-top: 1%;
}

a{
  color:#EAD7D7;
}

h1{
  text-decoration: underline;
  text-decoration-color:white;
  color: white;
}

.Texto{
  margin-left: 1%;
  margin-right: 40%;
  background-color: grey;
}


.original{
  width:100%;
  height: 600px;
}

.Img1{
  margin-top: 1%;
  width:600px;
  height: 400px;
  float:left;
}

img.Img1:hover{
  opacity:50%;
}

.Img2{
  margin-top: 1%;
  margin-left: 4%;
  width:150px;
  height: 250px;
  float:left;
}

.Img3{
  margin-left: 7%;
  width:350px;
  height: 450px;
}

#ImagenGuia{
  margin-left: 1%;
  width:550px;
  height: 450px;
  margin-top: 1%;
}

#footer{
  float: right;
}

#MarvelLogo{
  margin-left: 1%;
  width:550px;
  height: 450px;
  margin-top: 1%;
  
}


@media ( min-width:400px ){
  body{
    font-family: cambria;
    font-size: 8pt;
    color:blue;
    background-image: url("Imagenes/fondo400600.jpg");
  }
}

@media ( min-width:800px ){
  body{
    font-family: comic sans;
    font-size: 10pt;
    color:green;
    background-image: url("Imagenes/fondo8011200.jpg");
  }
}

@media ( min-width:1200px ){
  body{
    font-family: times new roman;
    font-size: 12pt;
    color:yellow;
    background-image: url("Imagenes/fondo12001600.jpg");
  }
}

@media ( min-width:1600px ){
  body{
    font-family: courier new;
    font-size: 16pt;
    color:orange;
    background-image: url("Imagenes/fondo1600.jpg");
  }
}
